$ss-opacity: (
  0: var(--opacity-0),
  25: var(--opacity-25),
  50: var(--opacity-50),
  75: var(--opacity-75),
  100: var(--opacity-100),
  disabled: var(--opacity-disabled),
  overlay: var(--opacity-overlay),
  hover: var(--opacity-hover),
)