$ss-font: (
  families: (
    primary  : var(--font-family-primary),
    secondary: var(--font-family-secondary),
    mono     : var(--font-family-mono)
  ),
  sizes: (
    xs : var(--font-sizes-xs),
    sm : var(--font-sizes-sm),
    md : var(--font-sizes-md),
    lg : var(--font-sizes-lg),
    xl : var(--font-sizes-xl),
    "2xl": var(--font-sizes-2xl),
    "3xl": var(--font-sizes-3xl)
  ),
  weights: (
    regular: var(--font-weight-regular),
    medium : var(--font-weight-medium),
    bold   : var(--font-weight-bold)
  ),
  lineHeights: (
    tight : var(--line-height-tight),
    normal: var(--line-height-normal),
    loose : var(--line-height-loose)
  )
);

$ss-typography:(
  h1: var(--typography-h1),
  h2: var(--typography-h2),
  h3: var(--typography-h3),
  h4: var(--typography-h4),
  h5: var(--typography-h5),
  h6: var(--typography-h6),
  body: var(--typography-body),
  body-small: var(--typography-body-small),
  caption: var(--typography-caption),
  button: var(--typography-button),
  overline: var(--typography-overline)
);
