.ss-breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--ss-dimensions-2);
  margin: var(--ss-sizing-none);
  padding: var(--ss-sizing-none);
  list-style: none;
}
