@use '../../../global/styles/mixins' as mx;

.ss-select {
  @include mx.atom-control-base;
  display: inline-block;
  line-height: var(--ss-text-line-heights-normal);
  cursor: pointer;
}

@include mx.atom-control-sizes('ss-select');
@include mx.atom-accent-variants('ss-select');

.ss-select--outline {
  background: var(--ss-colors-transparent);
}

.ss-select--underline {
  background: var(--ss-colors-transparent);
  border-width: var(--ss-borders-width-none) var(--ss-borders-width-none) var(--ss-borders-width-base);
  border-radius: var(--ss-radius-none);
}

.ss-select--success,
.ss-select--warning,
.ss-select--error,
.ss-select--destructive,
.ss-select--info {
  border-color: var(--atom-accent);
}

.ss-select--invalid {
  border-color: var(--ss-color-error);
}

.ss-select--full-width {
  width: var(--ss-sizing-full);
}
